
@{
    ViewBag.Title = "Carrito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-5">
    <div class="row">

        <div class="col-sm-12">

            <div class="card">
                <div class="card-body">

                    <div class="row">

                        <div class="col-sm-9">
                            <div class="me-2">
                                <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
                                    <h5 class="ms-2 mt-2">Detalle Carrito</h5>
                                    <a class="btn btn-primary btn-sm mt-2 mt-sm-0" href="@Url.Action("Index","Tienda")">
                                        <i class="fas fa-cart-plus me-2"></i>
                                        <span class="d-inline">Seguir Comprando</span>
                                    </a>
                                </div>

                                <hr class="mt-2 mb-2">

                                <div id="productos-carrito">

                                </div>

                                <div class="d-flex justify-content-end">
                                    <label class="align-self-center"><b>Total: S/. <span id="total">500</span></b></label>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card">
                                <div class="card-body bg-light">
                                    <h5 class="card-title">Detalle Envío</h5>
                                    <form>
                                        <div class="mb-2">
                                            <label for="cbodepartamento" class="form-label">Departamento: </label>
                                            <select class="form-select form-select-sm" id="cbodepartamento"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cboprovincia" class="form-label">Provincia: </label>
                                            <select class="form-select form-select-sm" id="cboprovincia"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="cbodistrito" class="form-label">Distrito: </label>
                                            <select class="form-select form-select-sm" id="cbodistrito"></select>
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtnombrecontacto" class="form-label">Nombre Contacto: </label>
                                            <input type="text" class="form-control form-control-sm" id="txtnombrecontacto" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="txtdireccion" class="form-label">Dirección: </label>
                                            <input type="text" class="form-control form-control-sm" id="txtdireccion" autocomplete="off" />
                                        </div>
                                        <div class="mb-2">
                                            <label for="txttelefono" class="form-label">Teléfono: </label>
                                            <input type="text" class="form-control form-control-sm" id="txttelefono" autocomplete="off" />
                                        </div>
                                        <div class="d-grid gap-2">
                                            <button class="btn btn-success" type="button" onclick="RealizarPago()">
                                                <i class="fab fa-paypal"></i> Terminar y Procesar Pago
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{

    <script>

        $(document).ready(function () {

            jQuery.ajax({
                url: "@Url.Action("ListarProductosCarrito", "Tienda")",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#productos-carrito").html("");
                    $("#productos-carrito").LoadingOverlay("hide");

                    $.each(response.data, function (i, item) {
                        $("<div>").addClass("card mb-2 card-producto").append(
                            $("<div>").addClass("card-body").append(
                                $("<div>").addClass("row align-items-center").append(

                                    $("<div>").addClass("col-sm-2 d-flex justify-content-center").append(
                                        $("<img>").addClass("rounded").attr({ "src": "data:image/" + item.oProducto.Extension + ";base64," + item.oProducto.Base64 })
                                            .css({ "width": "100px", "height": "100px" })
                                    ),

                                    $("<div>").addClass("col-sm-4 text-center text-sm-start mt-2 mt-sm-0").append(
                                        $("<span>").addClass("fw-bold d-block").text(item.oProducto.oMarca.Descripcion),
                                        $("<span>").text(item.oProducto.Nombre),
                                    ),

                                    $("<div>").addClass("col-sm-2 text-center").append(
                                        $("<span>").text(item.oProducto.Precio.toFixed(2) + " MX")
                                    ),


                                    $("<div>").addClass("col-sm-2 d-flex justify-content-center").append(
                                        $("<div>").addClass("d-flex align-items-center").append(
                                            $("<button>").addClass("btn btn-outline-secondary btn-restar btn-sm rounded-0").append(
                                                $("<i>").addClass("fas fa-minus")
                                            ),

                                            $("<input>").addClass("form-control form-control-sm input-cantidad p-1 text-center rounded-0")
                                                .attr({ "disabled": "disabled" }).css({ "width": "40px" }).data("oProducto", item.oProducto)
                                                .val(item.Cantidad),

                                            $("<button>").addClass("btn btn-outline-secondary btn-sumar btn-sm rounded-0").append(
                                                $("<i>").addClass("fas fa-plus")
                                            ),
                                        )
                                    ),
                                    $("<div>").addClass("col-sm-2 d-grid mt-3 mt-sm-0").append(
                                        $("<button>").addClass("btn btn-outline-danger btn-sm btn-eliminar").append(
                                            $("<i>").addClass("fas fa-trash-alt me-1"), "Eliminar").data("IdProducto", item.oProducto.IdProducto),
                                    )
                                )
                            )
                        ).appendTo("#productos-carrito")
                    })
                    sumarTotal();
                },
                error: function (error) {
                    $("#productos-carrito").LoadingOverlay("hide");
                }, beforeSend: function () {
                    $("#productos-carrito").LoadingOverlay("show");
                }
            });
            ListarDepartamento();
        });

        function ListarDepartamento() {
            $("<option>").attr({ "value": "00", "disabled": "disabled","selected":"true" }).text("Seleccionar").appendTo("#cbodepartamento")
            jQuery.ajax({
                url: "@Url.Action("ObtenerDepartamento", "Tienda")",
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdDepartamento }).text(item.Descripcion).appendTo("#cbodepartamento")
                        })

                        ListarProvincia();
                    }
                }
            });
        }

        $("#cbodepartamento").on("change", function () {
            ListarProvincia();
        })

        function ListarProvincia() {

            $("#cboprovincia").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cboprovincia")
            jQuery.ajax({
                url: "@Url.Action("ObtenerProvincia", "Tienda")",
                type: "POST",
                data: JSON.stringify({ IdDepartamento: $("#cbodepartamento option:selected").val()}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdProvincia }).text(item.Descripcion).appendTo("#cboprovincia")
                        })
                        ListarDistrito()
                    }
                }
            });
        }

        $("#cboprovincia").on("change", function () {
            ListarDistrito();
        })

        function ListarDistrito() {

            $("#cbodistrito").html("")

            $("<option>").attr({ "value": "00", "disabled": "disabled", "selected": "true" }).text("Seleccionar").appendTo("#cbodistrito")
            jQuery.ajax({
                url: "@Url.Action("ObtenerDistrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ IdProvincia: $("#cboprovincia option:selected").val(),IdDepartamento: $("#cbodepartamento option:selected").val()}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.lista != null) {
                        $.each(data.lista, function (i, item) {
                            $("<option>").attr({ "value": item.IdDistrito }).text(item.Descripcion).appendTo("#cbodistrito")
                        })
                    }
                }
            });
        }

        function sumarTotal() {
            var sumaTotal = parseFloat(0)

            $("input.input-cantidad").each(function (i) {
                var precio = $(this).data("oProducto").Precio;
                var cantidad = parseFloat($(this).val())

                var subtotal = precio * cantidad;
                sumaTotal += subtotal;
            })

            $("#total").text(sumaTotal.toFixed(2))
            $("#total").data("sumaTotal", sumaTotal)
        }

        $(document).on("click", ".btn-sumar", function () {
            var div_contenedor = $(this).parent("div.d-flex");
            var input_cantidad = $(div_contenedor).find("input.input-cantidad");
            var btn = $(this)
            var idproducto = $(input_cantidad).data("oProducto").IdProducto;

            jQuery.ajax({
                url: "@Url.Action("OperacionCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ IdProducto: idproducto, Sumar: true }), // Enviamos true para sumar
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(btn).LoadingOverlay("hide");
                    if (data.respuesta) {
                        // Actualizamos la vista solo si el servidor confirmó
                        var cantidad = parseInt($(input_cantidad).val()) + 1;
                        $(input_cantidad).val(cantidad);
                        sumarTotal();
                    } else {
                        // Aquí verás el mensaje real del SP (ej: "No hay stock")
                        swal("Atención", data.mensaje, "warning");
                    }
                },
                error: function (error) {
                    console.log("Error en la petición:", error);
                    $(btn).LoadingOverlay("hide");
                }, beforeSend: function () {
                    $(btn).LoadingOverlay("show");
                }

            }); // <-- Aquí faltaba cerrar el AJAX
        }); // <-- Aquí faltaba cerrar el evento click

        $(document).on("click", ".btn-restar", function () {
            var div_contenedor = $(this).parent("div.d-flex");
            var input_cantidad = $(div_contenedor).find("input.input-cantidad");
            var btn = $(this)
            var idproducto = $(input_cantidad).data("oProducto").IdProducto;

            var cantidad_actual = parseInt($(input_cantidad).val());

            // Validamos que no reste si ya es 1 (para eso está el botón eliminar)
            if (cantidad_actual <= 1) return;

            jQuery.ajax({
                url: "@Url.Action("OperacionCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ IdProducto: idproducto, Sumar: false }), // MANDAMOS FALSE
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(btn).LoadingOverlay("hide");
                    if (data.respuesta) {
                        var cantidad = cantidad_actual - 1;
                        $(input_cantidad).val(cantidad);
                        sumarTotal();
                    } else {
                        swal("Error", data.mensaje, "error");
                    }
                },
                error: function (error) {
                    console.log("Error en la petición:", error);
                    $(btn).LoadingOverlay("hide");
                }, beforeSend: function () {
                    $(btn).LoadingOverlay("show");
                }
            });
        });

        $(document).on("click", ".btn-eliminar", function () {

            var idproducto = $(this).data("IdProducto");
            var card_producto = $(this).parents("div.card-producto");


            jQuery.ajax({
                url: "@Url.Action("EliminarCarrito", "Tienda")",
                type: "POST",
                data: JSON.stringify({ IdProducto: idproducto}),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.respuesta) {
                        card_producto.remove();
                        MostrarCantidadCarrito();
                        sumarTotal();
                    } else {
                        swal("Error", data.mensaje, "error");
                    }
                }
            });
        });

        function RealizarPago() {
            if (parseInt($("#cantidadcarrito").text()) == 0) {
                swal("", "No existe productos en el carrito", "warning");
                return
            }

            if ($("#cbodistrito").val() == null || $("#txtnombrecontacto").val() == "" || $("#txtdireccion").val() == "" || $("#txttelefono").val() == "") {
                swal("", "Debe completar los datos de detalle envio", "warning");
                return
            }

            var venta = {
                TotalProducto: $("input.input-cantidad").length,
                MontoTotal: 0,
                Contacto: $("#txtnombrecontacto").val(),
                IdDistrito: $("#cbodistrito").val(),
                Telefono: $("#txttelefono").val(),
                Direccion: $("#txtdireccion").val()
            }

            var lista_carrito = [];

            $("input.input-cantidad").each(function (i) {
                var producto = $(this).data("oProducto");
                var cantidad = parseFloat($(this).val());
                lista_carrito.push({
                    oProducto: producto,
                    Cantidad: cantidad
                })
            });

            jQuery.ajax({
                url: "@Url.Action("ProcesarPago", "Tienda")",
                type: "POST",
                data: JSON.stringify({ oListaCarrito: lista_carrito, oVenta: venta }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.LoadingOverlay("hide");
                    if (data.Status) {

                        var jsonresult = data.Response;
                        var links = jsonresult.links;
                        var resultado = links.find(item => item.rel === "approve");
                        window.location.href = resultado.href;
                    } else {
                        swal("", "Vuelva a intentarlo más tarde", "warning");
                    }
                },
                error: function () {
                    $.LoadingOverlay("hide");
                },
                beforeSend: function () {
                    $.LoadingOverlay("show");
                }
            });
        }
    </script>

}
